---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/food-database/v2/parser?app_id=Private API key&app_key=Private
      API key&ingr=frosted%20flakes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "text" : "frosted flakes",
          "parsed" : [ {
            "food" : {
              "foodId" : "food_b01gzhgby1sfnxbzfw2k3b6n3qfm",
              "label" : "Frosted Flakes",
              "nutrients" : {
                "ENERC_KCAL" : 369.0,
                "PROCNT" : 3.96,
                "FAT" : 1.68,
                "CHOCDF" : 89.2,
                "FIBTG" : 2.2
              },
              "category" : "Generic foods",
              "categoryLabel" : "food",
              "image" : "https://www.edamam.com/food-img/087/0877fba3d76e4fc3b8b7fa79ad551582.jpg"
            }
          } ],
          "hints" : [ {
            "food" : {
              "foodId" : "food_b01gzhgby1sfnxbzfw2k3b6n3qfm",
              "label" : "Frosted Flakes",
              "nutrients" : {
                "ENERC_KCAL" : 369.0,
                "PROCNT" : 3.96,
                "FAT" : 1.68,
                "CHOCDF" : 89.2,
                "FIBTG" : 2.2
              },
              "category" : "Generic foods",
              "categoryLabel" : "food",
              "image" : "https://www.edamam.com/food-img/087/0877fba3d76e4fc3b8b7fa79ad551582.jpg"
            },
            "measures" : [ {
              "uri" : "http://www.edamam.com/ontologies/edamam.owl#Measure_serving",
              "label" : "Serving",
              "weight" : 40.0
            }, {
              "uri" : "http://www.edamam.com/ontologies/edamam.owl#Measure_gram",
              "label" : "Gram",
              "weight" : 1.0
            }, {
              "uri" : "http://www.edamam.com/ontologies/edamam.owl#Measure_ounce",
              "label" : "Ounce",
              "weight" : 28.349523125
            }, {
              "uri" : "http://www.edamam.com/ontologies/edamam.owl#Measure_pound",
              "label" : "Pound",
              "weight" : 453.5[...]
