---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/food-database/v2/parser?app_id=Private API key&app_key=Private
      API key&ingr=blueberry
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "text" : "blueberry",
          "parsed" : [ {
            "food" : {
              "foodId" : "food_bgkl0cuasoeomtbolalmcauhha54",
              "label" : "Blueberries",
              "nutrients" : {
                "ENERC_KCAL" : 57.0,
                "PROCNT" : 0.74,
                "FAT" : 0.33,
                "CHOCDF" : 14.49,
                "FIBTG" : 2.4
              },
              "category" : "Generic foods",
              "categoryLabel" : "food",
              "image" : "https://www.edamam.com/food-img/f55/f55705a2a9ea9f7abf449a05fa968139.png"
            }
          } ],
          "hints" : [ {
            "food" : {
              "foodId" : "food_bgkl0cuasoeomtbolalmcauhha54",
              "label" : "Blueberries",
              "nutrients" : {
                "ENERC_KCAL" : 57.0,
                "PROCNT" : 0.74,
                "FAT" : 0.33,
                "CHOCDF" : 14.49,
                "FIBTG" : 2.4
              },
              "category" : "Generic foods",
              "categoryLabel" : "food",
              "image" : "https://www.edamam.com/food-img/f55/f55705a2a9ea9f7abf449a05fa968139.png"
            },
            "measures" : [ {
              "uri" : "http://www.edamam.com/ontologies/edamam.owl#Measure_unit",
              "label" : "Whole",
              "weight" : 1.36
            }, {
              "uri" : "http://www.edamam.com/ontologies/edamam.owl#Measure_serving",
              "label" : "Serving",
              "weight" : 74.0
            }, {
              "uri" : "http://www.edamam.com/ontologies/edamam.owl#Measure_berry",
              "label" : "Berry",
              "weight" : 1.36
            }, {
              "uri" : "http://www.edamam.com/ontologies/edamam.owl#Measure_gram",
              "label" : "Gram",
              "weight" : 1.0
    [...]
