---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/food-database/v2/parser?app_id=Private API key&app_key=Private
      API key&ingr=peanut%20butter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "text" : "peanut butter",
          "parsed" : [ {
            "food" : {
              "foodId" : "food_bz6b8fsbccyn3zaij72f7av8dl9m",
              "label" : "Peanut Butter",
              "nutrients" : {
                "ENERC_KCAL" : 598.0,
                "PROCNT" : 22.21,
                "FAT" : 51.36,
                "CHOCDF" : 22.31,
                "FIBTG" : 5.0
              },
              "category" : "Generic foods",
              "categoryLabel" : "food",
              "image" : "https://www.edamam.com/food-img/d74/d740276ae1409472a8714b2cee88a310.jpg"
            }
          } ],
          "hints" : [ {
            "food" : {
              "foodId" : "food_bz6b8fsbccyn3zaij72f7av8dl9m",
              "label" : "Peanut Butter",
              "nutrients" : {
                "ENERC_KCAL" : 598.0,
                "PROCNT" : 22.21,
                "FAT" : 51.36,
                "CHOCDF" : 22.31,
                "FIBTG" : 5.0
              },
              "category" : "Generic foods",
              "categoryLabel" : "food",
              "image" : "https://www.edamam.com/food-img/d74/d740276ae1409472a8714b2cee88a310.jpg"
            },
            "measures" : [ {
              "uri" : "http://www.edamam.com/ontologies/edamam.owl#Measure_serving",
              "label" : "Serving",
              "weight" : 32.0
            }, {
              "uri" : "http://www.edamam.com/ontologies/edamam.owl#Measure_gram",
              "label" : "Gram",
              "weight" : 1.0
            }, {
              "uri" : "http://www.edamam.com/ontologies/edamam.owl#Measure_ounce",
              "label" : "Ounce",
              "weight" : 28.349523125
            }, {
              "uri" : "http://www.edamam.com/ontologies/edamam.owl#Measure_pound",
              "label" : "Pound",
              "weight" : 453.5[...]
